@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container_image_access_denied">
    <img src="/images/website/accessdenied.jpg" class="image_access_denied" />
</div>
