
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {

    padding: 0;
    margin: 0;
}

footer {
    height: 40px;
    padding: 0;
    margin: 0;
}
.iconHeader{
    font-size: 30px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 30px 0 20px;
}
 /*///// Main//////////////*/

.container_carStatusD,.container_carStatusND {
    width: 150px;
    text-align: center;
    margin: 20px 0 0 -5px;
    color: white;
    background-color: red;
}

.container_carStatusD {
    background-color: green;
}


.car_card {
    box-shadow: 12px 12px 2px 1px #c8c3c3;
}

.carCategory {
    background-color: black;
    height: 70px;
    width: 300px;
    margin: 0 0 30px 0;
    padding: 0;
    color: white;
    box-shadow: 12px 12px 2px 1px #c8c3c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car_price {
    background-color: white;
    margin: 0 0 0 30px;
}

.card-body {
    display: flex;
}

p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.car_image{
    width: 450px;
    height: 280px;
}

.car_textarea{
    margin: 20px 0 20px 0;
}

.container_register_image {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.register_image {
    width: 600px;
}

.container_register {
    margin: 50px 0 0 0;
}

.container_register_form_image {
    display: flex;
    margin: 0 0 0 0;
    padding: 0;
    justify-content: space-around;
}

.container_registerForm {
    margin:0;
}

.container_car_cart{
    display:flex;
    flex-direction: column
}
.container_image_carbrand_carname {
    width: 300px;
    display: flex;
}
.container_carbrand_carname {
    width: 200px;
    margin: 0 0 0 100px;
}
.container_price_button {
    margin: 0 0 0 50px;
}
.container_price {
    width: 90px;
}
.container_total_price, .container_total_price_label {
    width: 250px;
}
.container_total_price {
    padding: 0 0 0 0;
}
.cart{
    font-size: 20px;
    margin: 0 0 0 10px;
}
.container_image_text_panier{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.text_panier {
    width: 700px;
    margin: 0 0 50px 0;
    padding: 0;
}


