html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
   
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

footer{
    height: 40px;
}
.iconHeader{
    font-size: 30px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 30px 0 20px;
}

.container_carStatus {
    background-color: white;
    width: 130px;
    text-align: center;
    margin: 0 0 0 0;
}

