@page
@model SimpleLocationWeb.Pages.Admin.Users.DeleteModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="User.Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary pl-3">
                    @*@(Model.User.Id != null ? "Delete" : "Create") User*@
                    Supprimer Client
                </h2>
                <hr />
                <div class="mb-3">
                    <label asp-for="User.UserName">Nom Utilisateur</label>
                    <input type="text" asp-for="User.UserName" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="User.Email"></label>
                    <input asp-for="User.Email" disabled class="form-control"></input>
                </div>
                <div class="mb-3">
                    <label asp-for="User.PhoneNumber">Téléphone</label>
                    <input asp-for="User.PhoneNumber" disabled class="form-control"></input>
                </div>
                <div class="mb-3">
                    <label asp-for="User.FirstName">Nom</label>
                    <input asp-for="User.FirstName" disabled class="form-control"></input>
                </div>
                <div class="mb-3">
                    <label asp-for="User.LastName">Prénom</label>
                    <input asp-for="User.LastName" disabled class="form-control"></input>
                </div>
                
            </div>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">@*@(Model.User.Id != null ? "Delete" : "Create")*@Supprimer</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:170px">Retour</a>
    </div>
</form>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
