@page
@model SimpleLocationWeb.Pages.Admin.Users.IndexModel



 <div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Liste des Clients</h2>
        </div>
        @if(User.IsInRole("Employee"))
        {

        }
        else
        {
            <div class="col-6 text-end">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> &nbsp;Créer Nouveau Client
                </a>
            </div>
        }
        
    </div>
   
    <br /><br />
    <table id="DT_load" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nom Utilisateur</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Nom</th>
                <th>Prénom</th>
                @if (User.IsInRole("Manager"))
                {
                    <th>Actions</th>
                }
                else
                {

                }
            </tr>
        </thead>
    </table>
</div>

@if (User.IsInRole("Manager"))
{
    @section Scripts{
    <script src="~/js/user.js"></script>
    }
}
else
{
    @section Scripts{
    <script src="~/js/userList.js"></script>
    }
}


